[Unit]
Description=service to renew letsencrypt certificates

[Service]
Type=simple
User=root
Group=root
EnvironmentFile=%h/.credentials-misc/mchange-sysadmin-credentials.env

# Set the variable, but not the search path for ExecStart. Should, I think. Don't know why not.
# Result is 'Executable "renew-certs" not found in path "/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"'
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/var/lib/snapd/snap/bin:/root/bin:${MCHANGE_SYSADMIN_SCRIPTS_HOME}/taskbin:${MCHANGE_SYSADMIN_SCRIPTS_HOME}/bin

# Apparently this is too new for my version of systemd
# ExecSearchPath=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/var/lib/snapd/snap/bin:/root/bin:${MCHANGE_SYSADMIN_SCRIPTS_HOME}/taskbin:${MCHANGE_SYSADMIN_SCRIPTS_HOME}/bin

# we need to run bash -c because environment variables aren't permitted in the base path
ExecStart=/bin/bash -c "PATH=${PATH} ${MCHANGE_SYSADMIN_SCRIPTS_HOME}/taskbin/renew-certs"

# No [Install] because only a timer (or manual starts) should invoke this


